* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.row {
    display: flex;
    justify-content: center;    
}

.card-body {
    background-color: #f1f1f1;
}
#ingresar, #borrar {
    border-radius: 30px;
    width: 90px;
    height: 36px;
    padding: 7px 15px 7px 15px;
}

.success {
    color: green;
    font-style: italic;
}
.error {
    color: red;
    font-style: italic;
}